<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="{{url_for('run.home')}}">Home</a>
          <a href="{{url_for('run.profile')}}">Profile</a>
          <a href="{{url_for('auth.logout')}}">Logout</a>
        </div>
    </div>

    <div class="grid-container">
        <head>
            <title>Home - Journal</title>
            <link rel="stylesheet" type="text/css" href="/static/style.css"/>
            <a href="{{ url_for ('run.home') }}" style="text-decoration: none;"><h3>{{ username }}'s Journal</h3></a>

        </head>
        <!-- Float this right using flexbox -->
        <span style="float: right;">
            <span style="font-size:30px; cursor:pointer; float:right; color: white;" onclick="openNav()">&#9776;</span>
        </span>
        </div>
                    <!-- ----------------------------------------------------------------------- -->
                <!--              TODO:     Add some whitespace here                         -->
                <!-- ----------------------------------------------------------------------- -->
    <body>
        <hr/>
        {% for entry in Journal if entry.id == entry_id %}
        <div class="centered_button">
             <div class="single_entry_rounded">
            <h4 class="single_entry">{{ entry.title }}</h4> 
            <p class="single_entry">{{ entry.time.date().strftime("%m/%d/%Y") }} at {{ entry.time.time().strftime("%H:%M:%S") }}</p>
            <p class="single_entry">{{ entry.entry }}</p>
        </div>
        </div>

       
    </br>
        <div class="centered_button">
            <form action = "{{ request.path }}" method = "post">
                <input class="button" type="submit" name="delete_button" value="Delete entry">
            </form>
        </div>
        
        {% endfor %}
    </body>

    <script>
        function openNav() {
          document.getElementById("myNav").style.height = "100%";
        }
        
        function closeNav() {
          document.getElementById("myNav").style.height = "0%";
        }
    </script>
</html>