<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="{{url_for('main.home')}}">Home</a>
          <a href="{{url_for('main.profile')}}">Profile</a>
          <a href="{{url_for('auth.logout')}}">Logout</a>
        </div>
    </div>

    <div class="grid-container">
        <head>
            <title>Home - Journal</title>
            <link rel="stylesheet" type="text/css" href="/static/style.css"/>
            <h3>{{ name }}'s Journal</h3>

        </head>

        <!-- Float this right using flexbox -->
    <span style="font-size:30px;cursor:pointer;float:right;color: white;" onclick="openNav()">&#9776;</span>

    </div>
                    <!-- ----------------------------------------------------------------------- -->
                <!--              TODO:     Add some whitespace here                         -->
                <!-- ----------------------------------------------------------------------- -->
    <body>
        <hr/>

        {%- for message in get_flashed_messages() %}
        <div class="notification is-danger">{{ message }}</div>
        {%- endfor %}
        <div>
            <a href="{{ url_for('main.new') }}"><button type="button" class="button">New entry:</button></a>
        </div>
        {% for entry in Journal if entry.u_id == current_user.id %}
            <a href="{{ url_for ('main.entries', username = name, entry_id=entry.id)}}"><div class="rounded">
                <!-- <span style="float: right;"><button class="dropbtn">...</button></a></span> -->
                <h4 class="entry">{{ entry.title }}</h4> 
                <p class="entry">{{ entry.time.date().strftime("%m/%d/%Y") }} at {{ entry.time.time().strftime("%H:%M:%S") }}</p>
                <p class="entry">{{ entry.entry }}</p>
            </div></a>
        {% endfor %}

    </body>
    <div style="clear: both;">
        <footer>
        <p style="font-size: smaller; text-align: center; color: white;">© Vivian Hafener 2021</p>
        </footer>
    </div>

    <script>
        function openNav() {
          document.getElementById("myNav").style.height = "100%";
        }
        function closeNav() {
          document.getElementById("myNav").style.height = "0%";
        }
    </script>
</html>