<!DOCTYPE html>
<html lang = "en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="{{url_for('main.home')}}">Home</a>
          <a href="{{url_for('main.profile')}}">Profile</a>
          <a href="{{url_for('auth.logout')}}">Logout</a>
        </div>
    </div>

    <div class="grid-container">
        <head>
            <title>New entry - Journal</title>
            <link rel="stylesheet" type="text/css" href="/static/style.css"/>
            <a href="{{ url_for ('main.home') }}"><h3>{{ name }}'s Journal</h3></a>

        </head>
        <span style="font-size:30px;cursor:pointer;float:right;color: white;" onclick="openNav()">&#9776;</span>

    </div>


    <main>
        <div class="page">
            <body>            
                {%- for category, message in get_flashed_messages(with_categories = true) %}
                <div class = "notification is-danger">
                    {{ message }}
                </div>
                {%- endfor %}
                <!-- These could fit the theme better, but for now all functionality is there -->
                <form action = "{{ request.path }}" method = "post">
                    <label class="field fieldv_1" for = "title">
                    <input class="field__input" type = "text" name = "title" placeholder = "Title" >
                    <span class="field__label-wrap">
                        <span class="field__label">Title</span>
                    </span></label><br>

                    <label class="field fieldv_1" for = "entry">
                    <textarea class="field__input" id="text" name="entry" placeholder="entry" rows="12" cols="50"></textarea><br>
                    <span class="field__label-wrap">
                        <span class="field__label">Entry</span>
                    </span></label><br>
                    <input class="button" type = "submit" value = "Submit" />
                    
                </form>
            </body>
            <footer>
                <p style="font-size: smaller; text-align: center; color: white;">© Vivian Hafener 2021</p>
            </footer>
        </div>
        
    </main>

    <script>
        function openNav() {
          document.getElementById("myNav").style.height = "100%";
        }
        
        function closeNav() {
          document.getElementById("myNav").style.height = "0%";
        }
        </script>
</html>