<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="{{url_for('run.home')}}">Home</a>
          <a href="{{url_for('run.profile')}}">Profile</a>
          <a href="{{url_for('auth.logout')}}">Logout</a>
        </div>
    </div>

    <div class="grid-container">
        <head>
            <title>Home - Journal</title>
            <link rel="stylesheet" type="text/css" href="/static/style.css"/>
            <a href="{{ url_for ('run.home') }}"><h3>{{ name }}'s Journal</h3></a>

        </head>
        <span style="font-size:30px;cursor:pointer;float:right;color: white;" onclick="openNav()">&#9776;</span>

    </div>

    <body>
        <hr/>
        <h3 style="text-align: center;">Welcome {{name}}.</h3>
        <p style="color: white;">Your email address is: {{ email }}</p>
        <p style="color: white;">Your username is: {{name}}</p>
        <!-- <p style="color: white;">You have {{num_entries}} in your journal.</p> -->
    </body>    
    
    <script>
        function openNav() {
          document.getElementById("myNav").style.height = "100%";
        }
        
        function closeNav() {
          document.getElementById("myNav").style.height = "0%";
        }
        </script>


</html>