<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Home - Journal</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    </head>
    <body>
        <h3>Journal</h3>
        <hr/>

        {%- for message in get_flashed_messages() %}
        {{ message }}
        {%- endfor %}
        <div>
            <a href="{{ url_for('new') }}"><button type="button" class="button">New entry:</button></a>
        </div>
        
        {% for jrnl_entry in journal %}
            <div class="rounded">
                <!-- The way these display is not in the proper order. I might have to change this on the database level -->
                <h4 class="entry">{{ jrnl_entry.title }}</h4> 
                <p class="entry">{{ jrnl_entry.time }}</p>
                <p class="entry">{{ jrnl_entry.entry }}</p>
            </div>
        {% endfor %}
    </body>
    <div style="clear: both;">
        <footer>
        <p style="font-size: smaller; text-align: center; color: white;">© Vivian Hafener 2021</p>
        </footer>
    </div>
    
</html>