/* * {
    background-color: #3e3e42;
} */


/* Navbar stuff */

.notification:not(:last-child),

.notification.is-danger{background-color:#ff3860;color:#fff}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3e3e42;
}
.nav-li {
    float: right;
    background-color: #3e3e42;
}

.nav-li .nav-a { 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #3e3e42;
}
.nav-li .nav-a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FF7D00;
}

/* CSS GRID stuff */

.grid-container {
    display: grid;
}

head {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

/* nav {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
} */

span {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

/* Fullscreen Nav */


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

/* General stuff */

label {
    color: white;
}

body {
    background-color: #3e3e42;
}

p, h1, h2, h3, h4, h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    color: white;
}

.button {
    background-color: aquamarine;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: aqua;
}



.entry {
    margin: 5px;
}

.rounded {
    background-color: aquamarine;
    border-radius: 8px;
    margin: 1.2em;
}

@media only screen and (max-width: 600){
    .rounded {
        width: 100%;
    }
}
@media only screen and (min-width: 1000px) {
    .rounded {
        /* This next line is imprecise and should be fixed. Currently 50 % activates float due to margins */
        width: 45%;
        margin: 0.7em;
        float: left;
        /* Aesthetically I think float works ok here, but I was originally thinking about doing 50/50 */
        /* This float may cause issues when some entries are quite a bit longer than others in terms of vertical height */
    }
    .entry {
        padding-left: 0.9em;
        padding-right: 0.9em;
    }
}