<!DOCTYPE html>
<html>
    <body>
        <h3>Journal</h3>
        <hr/>
      
        {%- for category, message in get_flashed_messages(with_categories = true) %}
           <div class = "alert alert-danger">
              {{ message }}
           </div>
        {%- endfor %}
        
        <form action = "{{ request.path }}" method = "post">
            <label for = "time">Time and Date</label><br>
            <input type = "text" name = "time" placeholder = "Time" /><br>
            <label for = "title">Title</label><br>
            <input type = "text" name = "title" placeholder = "Title" /><br>
            <label for = "entry">Entry</label><br>
            <input type = "text" name = "title" placeholder = "Entry" /><br>
            <input type = "submit" value = "Submit" />
        </form>
    </body>
</html>